---
export const prerender = true

import Layout from '../../layouts/Layout.astro';
import FooterLink from '../../components/FooterLink.astro';

const {
  title = 'Author: Julien Déramond',
  description = 'Find some information about Julien Déramond, the author of Open {re}Source.'
} = Astro.props;
---
<Layout title={ title } description={ description } openGraphData={{title: title, type: "website", staticImage: true, description: description}}>
  <div class="bg-base-100 py-8 flex flex-col justify-center relative overflow-hidden lg:py-12">
    <div class="relative w-full px-6 py-12 bg-base-100 shadow-xl shadow-base-300 ring-1 ring-base-200 md:max-w-3xl md:mx-auto lg:max-w-4xl lg:pt-16 lg:pb-28">
      <div class="mt-8 prose prose-slate mx-auto lg:prose-lg">
        <div class="avatar not-prose mb-10">
          <div class="w-24 rounded-full">
            <img src="/author-profile.jpg" />
          </div>
        </div>

        <h1 class="font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-primary to-secondary pb-3">Julien Déramond</h1>
        <p class="lead">Software front-end engineer at <a href="https://www.orange.com">Orange</a> in Paris, France. Tech lead of <a href="https://system.design.orange.com">Orange Design System</a> and its web framework <a href="https://boosted.orange.com/">Boosted</a> (fork of <a href="https://getbootstrap.com/">Bootstrap</a>). Also <a href="https://getbootstrap.com/">Bootstrap</a> contributor since 2021, and core team member since 2022.</p>
        <p>Dedicate a part of his spare time for OSS by regularly contributing to several OSS projects whenever he finds things to help. Including various OSS projects in the <a href="https://github.com/Orange-OpenSource">Orange OSS organization</a>.</p>
        <p>In a previous life, few years back, developed Qt/QML applications embedded in STBs, and also developed tons of Web Services in C/C++ as Apache modules.</p>
        <p>Always trying to find ways for developers, designers and accessibility practitioners to collaborate.</p>
        <p>Live music lover.</p>
        <p>Check out his work in detail on <a href="https://ossinsight.io/analyze/julien-deramond">OSS Insight</a>.</p>

        <div class="grid justify-center pt-4 grid-rows-2 sm:grid-rows-1 grid-flow-col gap-6">
          <a href="https://github.com/sponsors/julien-deramond" class="btn btn-primary text-primary-content no-underline"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart mr-2" viewBox="0 0 16 16">
            <path d="m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z"/>
          </svg>Become a sponsor</a>
        </div>

        <div class="grid justify-center pt-8 grid-rows-2 sm:grid-rows-1 grid-flow-col gap-6">
          <FooterLink url="https://twitch.com/JulienUnderscore" type="Twitch">
            <path d="M3.857 0 1 2.857v10.286h3.429V16l2.857-2.857H9.57L14.714 8V0H3.857zm9.714 7.429-2.285 2.285H9l-2 2v-2H4.429V1.143h9.142v6.286z"/>
            <path d="M11.857 3.143h-1.143V6.57h1.143V3.143zm-3.143 0H7.571V6.57h1.143V3.143z"/>
          </FooterLink>
    
          <FooterLink url="https://github.com/julien-deramond" type="GitHub">
            <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
          </FooterLink>
    
          <FooterLink url="https://twitter.com/JulienDeramond" type="Twitter">
            <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
          </FooterLink>
    
          <FooterLink url="https://linkedin.com/in/julienderamond" type="LinkedIn">
            <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
          </FooterLink>
        </div>
      </div>
    </div>
  </div>
</Layout>