---
export const prerender = true

import Layout from '../layouts/Layout.astro';

const {
  title = 'Your platform for Open Source',
  description = 'Join Open Source, learn to create, manage, and contribute to projects with Open {re}Source. Make a difference today by sharing and collaborating.'
} = Astro.props;
---
<Layout title={ title } description={ description } home={ true }>
	<section class="hero py-40">
		<div class="hero-content text-center">
			
		</div>
	</section>
</Layout>
