---
export const prerender = true

import ShowcaseBanner from '../components/showcase/ShowcaseBanner.astro';
import Layout from '../layouts/Layout.astro';

const {
  title = 'Your platform for open source',
  description = 'Join open source, learn to create, manage, and contribute to projects with Open {re}Source. Make a difference today by sharing and collaborating.'
} = Astro.props;
---
<Layout title={ title } description={ description } home={ true } openGraphData={{title: title, type: "website", staticImage: true, description: description}}>
	<section class="hero py-20">
		<div class="hero-content">
			<div class="max-w-md prose lg:prose-xl">
        <h1>Discovering the open source world</h1>
				<p class="text-2xl base-content">
          Meet <b>Open &#123;re&#125;Source</b>, a free platform for open source users, contributors, and maintainers; individuals, or organizations.
        </p>
        <p class="text-xl base-content">Understand how it works, and learn how to create, manage, and contribute to open-source projects.</p>
				<p class="text-xl base-content">Join the open source community today and start making a difference.</p>
				<a class="btn btn-primary no-underline text-primary-content" href="/guide">Get Started</a>
			</div>
		</div>
	</section>
  <ShowcaseBanner showProjectsButton="true" />
  <section class="bg-primary text-primary-content">
    <div class="mx-auto max-w-7xl px-4 py-8 sm:px-6 lg:px-8 sm:py-12 xl:py-24">
      <h2 class="text-2xl sm:text-3xl font-bold sm:text-center mb-8 sm:mb-12 xl:mb-16">Get involved on</h2>
      <div class="grid sm:justify-center pb-4 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 grid-flow-row gap-6 sm:gap-12">
        <div class="relative hover:underline flex gap-3 max-w-sm">
          <div class="mr-1 mt-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" viewBox="0 0 16 16" aria-hidden="true">
              <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
            </svg>
          </div>
          <div class="flex-auto">
            <h3 class="font-bold text-lg"><a href="https://github.com/orgs/Open-reSource/discussions" class="stretched-link">GitHub Discussions</a></h3>
            <p>
              Announcements, discussions, and Q&A directly on GitHub.
            </p>
          </div>
        </div>
        <div class="relative hover:underline flex gap-3 max-w-sm">
          <div class="mr-1 mt-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" viewBox="0 0 16 16" aria-hidden="true">
              <path d="M13.545 2.907a13.227 13.227 0 0 0-3.257-1.011.05.05 0 0 0-.052.025c-.141.25-.297.577-.406.833a12.19 12.19 0 0 0-3.658 0 8.258 8.258 0 0 0-.412-.833.051.051 0 0 0-.052-.025c-1.125.194-2.22.534-3.257 1.011a.041.041 0 0 0-.021.018C.356 6.024-.213 9.047.066 12.032c.001.014.01.028.021.037a13.276 13.276 0 0 0 3.995 2.02.05.05 0 0 0 .056-.019c.308-.42.582-.863.818-1.329a.05.05 0 0 0-.01-.059.051.051 0 0 0-.018-.011 8.875 8.875 0 0 1-1.248-.595.05.05 0 0 1-.02-.066.051.051 0 0 1 .015-.019c.084-.063.168-.129.248-.195a.05.05 0 0 1 .051-.007c2.619 1.196 5.454 1.196 8.041 0a.052.052 0 0 1 .053.007c.08.066.164.132.248.195a.051.051 0 0 1-.004.085 8.254 8.254 0 0 1-1.249.594.05.05 0 0 0-.03.03.052.052 0 0 0 .003.041c.24.465.515.909.817 1.329a.05.05 0 0 0 .056.019 13.235 13.235 0 0 0 4.001-2.02.049.049 0 0 0 .021-.037c.334-3.451-.559-6.449-2.366-9.106a.034.034 0 0 0-.02-.019Zm-8.198 7.307c-.789 0-1.438-.724-1.438-1.612 0-.889.637-1.613 1.438-1.613.807 0 1.45.73 1.438 1.613 0 .888-.637 1.612-1.438 1.612Zm5.316 0c-.788 0-1.438-.724-1.438-1.612 0-.889.637-1.613 1.438-1.613.807 0 1.451.73 1.438 1.613 0 .888-.631 1.612-1.438 1.612Z"/>
            </svg>
          </div>
          <div class="flex-auto">
            <h3 class="font-bold text-lg"><a href="https://discord.gg/fpUDwEMGwE" class="stretched-link">Discord Community</a></h3>
            <p>
              Chat with other members of the community about this website or open source in general.
            </p>
          </div>
        </div>
        <div class="relative hover:underline flex gap-3 max-w-sm">
          <div class="mr-1 mt-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" viewBox="0 0 16 16" aria-hidden="true">
              <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
            </svg>
          </div>
          <div class="flex-auto">
            <h3 class="font-bold text-lg"><a href="https://twitter.com/open_resource" class="stretched-link">Twitter</a></h3>
            <p>
              Follow Open &lbrace;re&rbrace;Source Twitter account for news and updates.
            </p>
          </div>
        </div>
        <div class="relative hover:underline flex gap-3 max-w-sm">
          <div class="mr-1 mt-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" viewBox="0 0 16 16" aria-hidden="true">
              <path d="M11.19 12.195c2.016-.24 3.77-1.475 3.99-2.603.348-1.778.32-4.339.32-4.339 0-3.47-2.286-4.488-2.286-4.488C12.062.238 10.083.017 8.027 0h-.05C5.92.017 3.942.238 2.79.765c0 0-2.285 1.017-2.285 4.488l-.002.662c-.004.64-.007 1.35.011 2.091.083 3.394.626 6.74 3.78 7.57 1.454.383 2.703.463 3.709.408 1.823-.1 2.847-.647 2.847-.647l-.06-1.317s-1.303.41-2.767.36c-1.45-.05-2.98-.156-3.215-1.928a3.614 3.614 0 0 1-.033-.496s1.424.346 3.228.428c1.103.05 2.137-.064 3.188-.189zm1.613-2.47H11.13v-4.08c0-.859-.364-1.295-1.091-1.295-.804 0-1.207.517-1.207 1.541v2.233H7.168V5.89c0-1.024-.403-1.541-1.207-1.541-.727 0-1.091.436-1.091 1.296v4.079H3.197V5.522c0-.859.22-1.541.66-2.046.456-.505 1.052-.764 1.793-.764.856 0 1.504.328 1.933.983L8 4.39l.417-.695c.429-.655 1.077-.983 1.934-.983.74 0 1.336.259 1.791.764.442.505.661 1.187.661 2.046v4.203z"/>
            </svg>
          </div>
          <div class="flex-auto">
            <h3 class="font-bold text-lg"><a href="https://fosstodon.org/@openresource" class="stretched-link">Mastodon</a></h3>
            <p>
              Follow Open &lbrace;re&rbrace;Source Mastodon account for news and updates.
            </p>
          </div>
        </div>
        <div class="relative hover:underline flex gap-3 max-w-sm">
          <div class="mr-1 mt-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" viewBox="0 0 16 16" aria-hidden="true">
              <circle cx="8" cy="8" r="8"/>
            </svg>
          </div>
          <div class="flex-auto">
            <h3 class="font-bold text-lg"><a href="https://bsky.app/profile/openresource.bsky.social" class="stretched-link">Bluesky</a></h3>
            <p>
              Follow Open &lbrace;re&rbrace;Source Bluesky account for news and updates.
            </p>
          </div>
        </div>
        <div class="relative hover:underline flex gap-3 max-w-sm">
          <div class="mr-1 mt-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" viewBox="0 0 16 16" aria-hidden="true">
              <path d="M6.321 6.016c-.27-.18-1.166-.802-1.166-.802.756-1.081 1.753-1.502 3.132-1.502.975 0 1.803.327 2.394.948.591.621.928 1.509 1.005 2.644.328.138.63.299.905.484 1.109.745 1.719 1.86 1.719 3.137 0 2.716-2.226 5.075-6.256 5.075C4.594 16 1 13.987 1 7.994 1 2.034 4.482 0 8.044 0 9.69 0 13.55.243 15 5.036l-1.36.353C12.516 1.974 10.163 1.43 8.006 1.43c-3.565 0-5.582 2.171-5.582 6.79 0 4.143 2.254 6.343 5.63 6.343 2.777 0 4.847-1.443 4.847-3.556 0-1.438-1.208-2.127-1.27-2.127-.236 1.234-.868 3.31-3.644 3.31-1.618 0-3.013-1.118-3.013-2.582 0-2.09 1.984-2.847 3.55-2.847.586 0 1.294.04 1.663.114 0-.637-.54-1.728-1.9-1.728-1.25 0-1.566.405-1.967.868ZM8.716 8.19c-2.04 0-2.304.87-2.304 1.416 0 .878 1.043 1.168 1.6 1.168 1.02 0 2.067-.282 2.232-2.423a6.217 6.217 0 0 0-1.528-.161"/>
            </svg>
          </div>
          <div class="flex-auto">
            <h3 class="font-bold text-lg"><a href="https://www.threads.net/@openresource" class="stretched-link">Threads</a></h3>
            <p>
              Follow Open &lbrace;re&rbrace;Source Threads account for news and updates.
            </p>
          </div>
        </div>
        <div class="relative hover:underline flex gap-3 max-w-sm">
          <div class="mr-1 mt-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" viewBox="0 0 16 16" aria-hidden="true">
              <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
            </svg>
          </div>
          <div class="flex-auto">
            <h3 class="font-bold text-lg"><a href="https://linkedin.com/company/open-re-source/" class="stretched-link">LinkedIn</a></h3>
            <p>
              Follow Open &lbrace;re&rbrace;Source LinkedIn account for news and updates.
            </p>
          </div>
        </div>
        <div class="relative hover:underline flex gap-3 max-w-sm">
          <div class="mr-1 mt-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" viewBox="0 0 16 16" aria-hidden="true">
              <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm1.5 2.5c5.523 0 10 4.477 10 10a1 1 0 1 1-2 0 8 8 0 0 0-8-8 1 1 0 0 1 0-2zm0 4a6 6 0 0 1 6 6 1 1 0 1 1-2 0 4 4 0 0 0-4-4 1 1 0 0 1 0-2zm.5 7a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
            </svg>
          </div>
          <div class="flex-auto">
            <h3 class="font-bold text-lg"><a href="/rss.xml" class="stretched-link">RSS Feed</a></h3>
            <p>
              Get notified of new &lbrace;re&rbrace;Source articles via RSS.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
