---
export interface Props {
  editURLPrefix: string;
  id: string;
  name: string;
  type: 'modules' | 'articles';
}

const {
  id,
  type
} = Astro.props;

const editURLPrefix = 'https://github.com/Open-reSource/openresource.dev/blob/main/src/content/' + type + '/';
const name = type === 'modules' ? 'chapter' : 'article'
---
<p class="text-sm not-prose">
  <strong>Found a typo, a grammar error or a broken link? This {name} is missing something important?</strong>
  <br>
  <a href={editURLPrefix + id} class="underline">Edit this {name}</a> or <a class="underline" href="https://github.com/Open-reSource/openresource.dev/issues/new/choose">create an issue for this {name}</a> on GitHub.
</p>
