---
const { type, url } = Astro.props;
---

<a class="footer-link" href={url}>
	<svg
		xmlns="http://www.w3.org/2000/svg"
		width="25"
		height="25"
		fill="currentColor"
		viewBox="0 0 16 16"
		aria-hidden="true"
	>
		<slot />
	</svg>
	<span>{type}</span>
</a>

<style>
	.footer-link {
		display: flex;
		align-items: center;
		border-radius: 0.375rem;
		text-decoration-color: var(--sl-color-secondary);
		text-decoration: underline;
		padding: 0.375rem;
		color: var(--sl-color-text);
	}

	.footer-link:hover {
		color: var(--sl-color-secondary);
		text-decoration-color: var(--sl-color-secondary);
	}

	.footer-link > svg {
		margin-right: 0.5rem;
	}
</style>
