---
const { type, url } = Astro.props;
---
<a href={url} class="flex items-center rounded-md decoration-base-content underline p-1.5  hover:text-secondary hover:decoration-secondary">
  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="mr-1" viewBox="0 0 16 16" aria-hidden="true">
    <slot />
  </svg>
  <span class="text-sm">{type}</span>
</a>
