---
---
<header>
  <nav class="bg-secondary-100">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">
        <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
          <!-- Mobile menu button-->
          <button type="button" class="inline-flex items-center justify-center rounded-md p-2 text-base-content hover:bg-base-200 hover:text-base-content focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <!--
              Icon when menu is closed.
  
              Menu open: "hidden", Menu closed: "block"
            -->
            <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            
            <!--
              Icon when menu is open.
  
              Menu open: "block", Menu closed: "hidden"
            -->
            <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
          <div class="flex flex-shrink-0 items-center">
            <a href="/">
              <svg class="hidden h-9 w-auto lg:block" viewBox="0 0 100 78" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="text-primary" d="M7.2211 77.5V52.8644C7.2211 49.4682 6.66392 47.1085 5.54955 45.7852C4.47976 44.4179 2.62991 43.7784 0 43.8666V35.1334C2.62991 35.2216 4.47976 34.6041 5.54955 33.2809C6.66392 31.9136 7.2211 29.5318 7.2211 26.1356V0H15.5789V23.8861C15.5789 27.15 15.4228 29.62 15.1108 31.2961C14.8434 32.9722 14.197 34.4497 13.1718 35.7289C12.1912 36.9638 10.5865 38.2209 8.35775 39.5C10.5865 40.7791 12.1912 42.0582 13.1718 43.3373C14.197 44.5723 14.8434 46.0499 15.1108 47.7701C15.4228 49.4461 15.5789 51.8941 15.5789 55.1139V77.5H7.2211Z" fill="currentcolor"/>
                <path class="text-primary" d="M24.5782 24.5477H34.0058V30.1052H34.5407C35.8333 27.8558 37.1037 26.2017 38.3518 25.1432C39.6445 24.0846 41.2492 23.5553 43.1659 23.5553C43.9682 23.5553 44.6368 23.6435 45.1717 23.82L44.1688 33.8764C43.0099 33.5676 42.0738 33.4132 41.3606 33.4132C40.3354 33.4132 39.4216 33.6117 38.6193 34.0087C37.8615 34.4056 37.1706 34.9349 36.5465 35.5965C35.9671 36.2581 35.1201 37.2726 34.0058 38.6399V58.6204H24.5782V24.5477Z" fill="currentcolor"/>
                <path class="text-primary" d="M63.9267 59.6128C58.3549 59.6128 53.9643 58.0249 50.7549 54.8492C47.5901 51.6735 46.0077 47.2628 46.0077 41.6171C46.0077 37.9563 46.6986 34.7805 48.0804 32.09C49.4622 29.3554 51.4012 27.2603 53.8974 25.8048C56.4382 24.3492 59.4024 23.6215 62.7901 23.6215C67.7824 23.6215 71.6158 25.2093 74.2903 28.385C76.9648 31.5607 78.302 36.1479 78.302 42.1464C78.302 43.1609 78.2798 43.9107 78.2352 44.3959H55.5021C55.9478 46.7335 56.9731 48.5199 58.5777 49.7549C60.1824 50.9458 62.3443 51.5412 65.0634 51.5412C66.7126 51.5412 68.4288 51.3427 70.2117 50.9458C71.9947 50.5047 73.5548 49.9313 74.8921 49.2256L76.4299 56.7017C74.6469 57.628 72.6633 58.3337 70.4792 58.8189C68.3396 59.3482 66.1554 59.6128 63.9267 59.6128ZM69.2757 37.3829C69.1419 35.4863 68.4733 33.9866 67.2698 32.8839C66.0663 31.7372 64.4616 31.1638 62.4557 31.1638C60.539 31.1638 58.9566 31.7151 57.7085 32.8178C56.505 33.9205 55.7473 35.4422 55.4352 37.3829H69.2757Z" fill="currentcolor"/>
                <path class="text-primary" d="M84.4211 55.1139C84.4211 51.8941 84.5549 49.4461 84.8223 47.7701C85.1343 46.0499 85.7807 44.5723 86.7613 43.3373C87.7865 42.0582 89.4135 40.7791 91.6422 39.5C89.4135 38.2209 87.7865 36.9638 86.7613 35.7289C85.7807 34.4497 85.1343 32.9722 84.8223 31.2961C84.5549 29.62 84.4211 27.15 84.4211 23.8861V0H92.7789L92.7789 26.1356C92.7789 29.5318 93.3138 31.9136 94.3836 33.2809C95.498 34.6041 97.3701 35.2216 100 35.1334V43.8666C97.3701 43.7784 95.498 44.4179 94.3836 45.7852C93.3138 47.1085 92.7789 49.4682 92.7789 52.8644V77.5H84.4211V55.1139Z" fill="currentcolor"/>
              </svg>
              <svg class="block h-9 w-auto lg:hidden" viewBox="0 0 100 78" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="text-primary" d="M7.2211 77.5V52.8644C7.2211 49.4682 6.66392 47.1085 5.54955 45.7852C4.47976 44.4179 2.62991 43.7784 0 43.8666V35.1334C2.62991 35.2216 4.47976 34.6041 5.54955 33.2809C6.66392 31.9136 7.2211 29.5318 7.2211 26.1356V0H15.5789V23.8861C15.5789 27.15 15.4228 29.62 15.1108 31.2961C14.8434 32.9722 14.197 34.4497 13.1718 35.7289C12.1912 36.9638 10.5865 38.2209 8.35775 39.5C10.5865 40.7791 12.1912 42.0582 13.1718 43.3373C14.197 44.5723 14.8434 46.0499 15.1108 47.7701C15.4228 49.4461 15.5789 51.8941 15.5789 55.1139V77.5H7.2211Z" fill="currentcolor"/>
                <path class="text-primary" d="M24.5782 24.5477H34.0058V30.1052H34.5407C35.8333 27.8558 37.1037 26.2017 38.3518 25.1432C39.6445 24.0846 41.2492 23.5553 43.1659 23.5553C43.9682 23.5553 44.6368 23.6435 45.1717 23.82L44.1688 33.8764C43.0099 33.5676 42.0738 33.4132 41.3606 33.4132C40.3354 33.4132 39.4216 33.6117 38.6193 34.0087C37.8615 34.4056 37.1706 34.9349 36.5465 35.5965C35.9671 36.2581 35.1201 37.2726 34.0058 38.6399V58.6204H24.5782V24.5477Z" fill="currentcolor"/>
                <path class="text-primary" d="M63.9267 59.6128C58.3549 59.6128 53.9643 58.0249 50.7549 54.8492C47.5901 51.6735 46.0077 47.2628 46.0077 41.6171C46.0077 37.9563 46.6986 34.7805 48.0804 32.09C49.4622 29.3554 51.4012 27.2603 53.8974 25.8048C56.4382 24.3492 59.4024 23.6215 62.7901 23.6215C67.7824 23.6215 71.6158 25.2093 74.2903 28.385C76.9648 31.5607 78.302 36.1479 78.302 42.1464C78.302 43.1609 78.2798 43.9107 78.2352 44.3959H55.5021C55.9478 46.7335 56.9731 48.5199 58.5777 49.7549C60.1824 50.9458 62.3443 51.5412 65.0634 51.5412C66.7126 51.5412 68.4288 51.3427 70.2117 50.9458C71.9947 50.5047 73.5548 49.9313 74.8921 49.2256L76.4299 56.7017C74.6469 57.628 72.6633 58.3337 70.4792 58.8189C68.3396 59.3482 66.1554 59.6128 63.9267 59.6128ZM69.2757 37.3829C69.1419 35.4863 68.4733 33.9866 67.2698 32.8839C66.0663 31.7372 64.4616 31.1638 62.4557 31.1638C60.539 31.1638 58.9566 31.7151 57.7085 32.8178C56.505 33.9205 55.7473 35.4422 55.4352 37.3829H69.2757Z" fill="currentcolor"/>
                <path class="text-primary" d="M84.4211 55.1139C84.4211 51.8941 84.5549 49.4461 84.8223 47.7701C85.1343 46.0499 85.7807 44.5723 86.7613 43.3373C87.7865 42.0582 89.4135 40.7791 91.6422 39.5C89.4135 38.2209 87.7865 36.9638 86.7613 35.7289C85.7807 34.4497 85.1343 32.9722 84.8223 31.2961C84.5549 29.62 84.4211 27.15 84.4211 23.8861V0H92.7789L92.7789 26.1356C92.7789 29.5318 93.3138 31.9136 94.3836 33.2809C95.498 34.6041 97.3701 35.2216 100 35.1334V43.8666C97.3701 43.7784 95.498 44.4179 94.3836 45.7852C93.3138 47.1085 92.7789 49.4682 92.7789 52.8644V77.5H84.4211V55.1139Z" fill="currentcolor"/>
              </svg>
            </a>
          </div>
          <div class="hidden sm:ml-6 sm:block">
            <div class="flex space-x-4">
              <a href="/guide" class={(Astro.url.pathname.includes('/guide') ? "bg-neutral text-neutral-content" : "hover:bg-neutral hover:text-neutral-content") + " rounded-md px-3 py-2 text-sm font-medium flex items-center"} aria-current={Astro.url.pathname.includes('/guide')}>Guide</a>
              <a href="/articles" class={(Astro.url.pathname.includes('/articles') ? "bg-neutral text-neutral-content" : "hover:bg-neutral hover:text-neutral-content") + " rounded-md px-3 py-2 text-sm font-medium flex items-center"} aria-current={Astro.url.pathname.includes('/articles')}>Articles</a>
              <a href="/resources" class={(Astro.url.pathname.includes('/resources') ? "bg-warning text-neutral-content" : "hover:bg-neutral hover:text-neutral-content") + " rounded-md px-3 py-2 text-sm font-medium flex items-center"} aria-current={Astro.url.pathname.includes('/resources')}>Resources</a>
              <div class="dropdown dropdown-end">
                <div tabindex="0" role="button" class="btn btn-ghost rounded-btn">Resources</div>
                <ul tabindex="0" class="menu dropdown-content z-[1] p-2 shadow bg-base-100 rounded-box w-52 mt-4">
                  <li><a href="/events">Books</a></li>
                  <li><a href="/open-sourcerers">Open sourcerers</a></li>
                  <li><a href="/podcasts">Podcasts</a></li>
                  <hr>
                  <li><a href="/resources">Resources (deprecated)</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div id="docsearch" class="flex items-end">
        </div>
        <div class="hidden sm:flex flex-1 items-center justify-center sm:items-stretch sm:justify-end">
          <div class="hidden sm:ml-6 sm:block">
            <select class="theme-choser select select-sm hover:bg-neutral hover:text-neutral-content font-medium" data-choose-theme>
              <option value="">Default</option>
              <hr>
              <option value="dark">Dark</option>
              <option value="light">Light</option>
              <hr>
              <option value="acid">Acid</option>
              <option value="aqua">Aqua</option>
              <option value="autumn">Autumn</option>
              <option value="black">Black</option>
              <option value="bumblebee">Bumblebee</option>
              <option value="business">Business</option>
              <option value="cmyk">CMYK</option>
              <option value="coffee">Coffee</option>
              <option value="corporate">Corporate</option>
              <option value="cupcake">Cupcake</option>
              <option value="cyberpunk">Cyberpunk</option>
              <option value="dim">Dim</option>
              <option value="dracula">Dracula</option>
              <option value="emerald">Emerald</option>
              <option value="fantasy">Fantasy</option>
              <option value="forest">Forest</option>
              <option value="garden">Garden</option>
              <option value="halloween">Halloween</option>
              <option value="lemonade">Lemonade</option>
              <option value="lofi">Lofi</option>
              <option value="luxury">Luxury</option>
              <option value="night">Night</option>
              <option value="nord">Nord</option>
              <option value="pastel">Pastel</option>
              <option value="retro">Retro</option>
              <option value="sunset">Sunset</option>
              <option value="synthwave">Synthwave</option>
              <option value="valentine">Valentine</option>
              <option value="winter">Winter</option>
              <option value="wireframe">Wireframe</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="sm:hidden" id="mobile-menu">
      <div class="space-y-2 px-2 pt-2 pb-3">
        <a href="/" class={(Astro.url.pathname == '/' ? "bg-neutral text-neutral-content" : "hover:bg-neutral hover:text-neutral-content") + " block rounded-md px-3 py-2 text-base font-medium"} aria-current={Astro.url.pathname == '/'}>Home</a>
        <a href="/guide" class={(Astro.url.pathname.includes('/guide') ? "bg-neutral text-neutral-content" : "hover:bg-neutral hover:text-neutral-content") + " block rounded-md px-3 py-2 text-base font-medium"} aria-current={Astro.url.pathname.includes('/guide')}>Guide</a>
        <a href="/articles" class={(Astro.url.pathname.includes('/articles') ? "bg-neutral text-neutral-content" : "hover:bg-neutral hover:text-neutral-content") + " block rounded-md px-3 py-2 text-base font-medium"} aria-current={Astro.url.pathname.includes('/articles')}>Articles</a>
        <a href="/resources" class={(Astro.url.pathname.includes('/resources') ? "bg-warning text-neutral-content" : "hover:bg-neutral hover:text-neutral-content") + " block rounded-md px-3 py-2 text-base font-medium"} aria-current={Astro.url.pathname.includes('/resources')}>Resources</a>
        <select class="theme-choser select select-sm hover:bg-neutral hover:text-neutral-content font-medium" data-choose-theme>
          <option value="">Default</option>
          <hr>
          <option value="dark">Dark</option>
          <option value="light">Light</option>
          <hr>
          <option value="acid">Acid</option>
          <option value="aqua">Aqua</option>
          <option value="autumn">Autumn</option>
          <option value="black">Black</option>
          <option value="bumblebee">Bumblebee</option>
          <option value="business">Business</option>
          <option value="cmyk">CMYK</option>
          <option value="coffee">Coffee</option>
          <option value="corporate">Corporate</option>
          <option value="cupcake">Cupcake</option>
          <option value="cyberpunk">Cyberpunk</option>
          <option value="dim">Dim</option>
          <option value="dracula">Dracula</option>
          <option value="emerald">Emerald</option>
          <option value="fantasy">Fantasy</option>
          <option value="forest">Forest</option>
          <option value="garden">Garden</option>
          <option value="halloween">Halloween</option>
          <option value="lemonade">Lemonade</option>
          <option value="lofi">Lofi</option>
          <option value="luxury">Luxury</option>
          <option value="night">Night</option>
          <option value="nord">Nord</option>
          <option value="pastel">Pastel</option>
          <option value="retro">Retro</option>
          <option value="sunset">Sunset</option>
          <option value="synthwave">Synthwave</option>
          <option value="valentine">Valentine</option>
          <option value="winter">Winter</option>
          <option value="wireframe">Wireframe</option>
        </select>
      </div>
    </div>
  </nav>
</header>
<script is:inline>
  function resourcesPageHandler(value) {
    window.location.assign(`${value}`);
  }
</script>
