---
import readingTime from 'reading-time';
import type { Props } from '@astrojs/starlight/props';
import { Icon } from '@astrojs/starlight/components';
import Default from '@astrojs/starlight/components/PageTitle.astro';

const { date } = Astro.props.entry.data;
const { entry, lang } = Astro.props;

const isGuide = Astro.props.id.startsWith('guide');
const displayReadingTime =
	(isGuide && date) ||
	(Astro.props.id.startsWith('articles') &&
		!Astro.props.id.startsWith('articles/tags') &&
		!Astro.props.id.startsWith('articles/authors'));
const displayDate = date && isGuide;
---

<Default {...Astro.props}><slot /></Default>

{
	(displayDate || displayReadingTime) && (
		<div class="meta sl-flex">
			{displayReadingTime && (
				<span class="reading-time">
					<Icon name="seti:clock" />
					{Math.ceil(readingTime(entry.body || '').minutes)} min read
				</span>
			)}
			{displayDate && (
				<p>
					<time datetime={date.toISOString()}>
						{date.toLocaleDateString(lang, { dateStyle: 'medium', timeZone: 'UTC' })}
					</time>
				</p>
			)}
		</div>
	)
}

<style>
	.meta {
		gap: 0.75rem 3rem;
		justify-content: space-between;
		flex-wrap: wrap;
		font-size: var(--sl-text-sm);
	}

	.reading-time {
		display: inline-flex;
		align-items: center;
	}

	.reading-time svg {
		margin-right: 0.5rem;
	}
</style>
