---
import readingTime from 'reading-time';
import Default from '@astrojs/starlight/components/PageTitle.astro';

const { date } = Astro.locals.starlightRoute.entry.data;
const { entry, lang } = Astro.locals.starlightRoute;

const isGuide = Astro.locals.starlightRoute.id.startsWith('guide');
const displayReadingTime = isGuide && date;
const displayDate = date && isGuide;
---

<Default {...Astro.props}><slot /></Default>

{
	(displayDate || displayReadingTime) && (
		<div class="sl-text-sm sl-flex">
			{displayDate && (
				<p>
					<time datetime={date.toISOString()}>
						{date.toLocaleDateString(lang, { dateStyle: 'medium', timeZone: 'UTC' })}
					</time>
				</p>
			)}
			{displayReadingTime && (
				<span class="reading-time">&nbsp;-&nbsp;{Math.ceil(readingTime(entry.body || '').minutes)} min read</span>
			)}
		</div>
	)
}

<style>
	.reading-time {
		display: inline-flex;
		align-items: center;
		color: var(--sl-color-gray-3);
	}

	.sl-text-sm {
		font-size: var(--sl-text-sm);
	}
</style>
