---
export interface Props {
	alt: string;
	src: string;
}

const { alt, src } = Astro.props;
---

<div class="w-full flex justify-center">
  <img src={src} alt={alt} class=`border-primary border-dashed rounded border-2` />
</div>
