---
const { showProjectsButton = false } = Astro.props;

import { Card, Icon } from '@astrojs/starlight/components';
import Button from './Button.astro';
---

<section class="showcase-banner">
	<Card title="Showcase your projects">
		<p><strong>Explore what the Open &#123;re&#125;Source community builds for the open source world.</strong></p>
		<p style="margin-top: 0px">
			Submit your open-source project(s), profiles or websites to the showcase and let the community discover your work.
		</p>
		<div class="sl-flex actions">
			<Button class="action action-secondary" href="https://github.com/orgs/Open-reSource/discussions/3">
				Submit your project(s)
				<Icon name="external" />
			</Button>
			{
				showProjectsButton && (
					<Button class="action action-secondary action-minimal" href="/showcase">
						Show projects
						<Icon name="right-arrow" />
					</Button>
				)
			}
		</div>
	</Card>
</section>

<style>
	section.showcase-banner > :global(.card) {
		color: var(--sl-color-white);
		border-left-color: var(--sl-color-secondary);
		border-left-width: 4px;
	}

	section.showcase-banner > :global(.card strong) {
		color: var(--sl-color-secondary-high);
	}

	.actions {
		gap: 1rem 2rem;
		flex-wrap: wrap;
		justify-content: center;
	}

	@media (min-width: 50rem) {
		.actions {
			justify-content: flex-start;
		}
	}
</style>
