<a
  class="bg-secondary text-secondary-content sr-only focus:not-sr-only focus:absolute focus:top-1 focus:left-1 focus:p-4 focus:z-10 focus-visible:outline-offset-0"
  href="#content"
>
  Skip to content
</a>
