---
import type { Props } from '@astrojs/starlight/props';
import Default from '@astrojs/starlight/components/Pagination.astro';

const { editUrl } = Astro.props.entry.data;
---

{
	editUrl && (
		<div>
			<p>
				<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a> 2023-2024 © Open
				&lcub;re&rcub;Source
			</p>
			<p>
				<strong>Found something valuable on this page?</strong>
				<br />
				Show your support by{' '}
				<a href="https://github.com/Open-reSource/openresource.dev">dropping us a star on GitHub</a>. Your support helps
				us grow and reach more people!
			</p>
			<p>
				<strong>Found a typo, a grammar error or a broken link?</strong>
				<br />
				Or this article is missing something important? Please{' '}
				<a href="https://github.com/Open-reSource/openresource.dev/issues/new/choose">create an issue on GitHub</a>.
			</p>
		</div>
	)
}

<Default {...Astro.props}><slot /></Default>

<style>
	div {
		border: 1px solid var(--sl-color-gray-5);
		border-radius: 0.5rem;
		padding: 1rem;
	}

	p {
		font-size: var(--sl-text-sm);
		color: var(--sl-color-gray-3);
	}
</style>
