---
import type { ShowcaseGitHubRepoLink } from "../../content/config";

interface Props {
  language: ShowcaseGitHubRepoLink["languages"][number];
}

const { language } = Astro.props;
---

<span class="badge badge-md badge-outline">{language.name}</span>
