---
interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div class:list={["card w-full bg-base-100 xs:shadow-xl", className]}>
  <div class="card-body p-0 xs:p-8 list-none">
    <slot />
  </div>
</div>
