html {
  font-family: system-ui, sans-serif;
}

code {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

.btn {
	text-transform: uppercase;
}

main {
  margin: auto;
  padding: 1.5rem;
}

.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
.visually-hidden:not(caption),
.visually-hidden-focusable:not(:focus):not(:focus-within):not(caption) {
  position: absolute !important;
}

.stretched-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: "";
}

.clipboard-copy {
  background-color: #24292e;
}

.astro-code {
  margin-right: 58px;
}

@media screen and (min-width: 1024px) {
  .astro-code {
    margin-right: 70px;
  }
}

.heading-wrapper {
	--anchoring-icon-size-x: 1.5rem;
	--anchoring-icon-size-y: 1.5rem;
	margin-inline-end: var(--anchoring-icon-size-x);
}

.heading-wrapper:not(:first-child) {
	margin-block: 0;
}

.heading-wrapper > * {
	display: inline;
	margin-bottom: 0;
}

.heading-wrapper > .anchor-link {
	position: relative;
	display: inline-flex;
	margin-inline-end: calc(-1 * var(--anchoring-icon-size-x));
	width: var(--anchoring-icon-size-x);
	height: var(--anchoring-icon-size-y);
	color: oklch(var(--bc));
	text-decoration: none;
	justify-content: center;
	vertical-align: baseline;
}

/* Float anchor links to the left of headings on larger screens. */
@media (min-width: 50em) {
	.heading-wrapper {
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-end;
		align-items: baseline;
		margin-inline-start: calc(-1 * var(--anchoring-icon-size-x));
	}

	.heading-wrapper > .anchor-link {
		margin-inline-end: 0;
	}
}

.heading-wrapper > .anchor-link {
	opacity: 0.5;
}

@media (hover: hover) {
	.heading-wrapper > .anchor-link {
		opacity: 0;
	}
}

.heading-wrapper:hover > .anchor-link,
.anchor-link:focus {
	opacity: 1;
}

:focus-visible:not(:is(.DocSearch-Input)) {
	outline: 4px solid oklch(var(--bc)) !important;
	outline-offset: 2px;
	box-shadow: oklch(var(--b1)) 0 0 0 2px;
}

::selection {
	background: oklch(var(--p));
	color: oklch(var(--pc));
}

/* https://github.com/algolia/docsearch/blob/066539c2c91c3559dcf3a738c8c998693a02465c/packages/docsearch-css/src/_variables.css */
.DocSearch {
	--docsearch-text-color: oklch(var(--bc));
	--docsearch-highlight-color: oklch(var(--p));
	--docsearch-container-background: oklch(var(--nf) / 0.5);
	--docsearch-muted-color: oklch(var(--bc) / 0.7);

	--docsearch-modal-background: oklch(var(--b2));
	/* https://github.com/saadeghi/daisyui/blob/0bf3f4ead3a560e595be37f1ec9ad6767a55544a/src/components/styled/modal.css#LL10C15-L10C52 */
	--docsearch-modal-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);

  --docsearch-searchbox-focus-background: oklch(var(--b1));
  --docsearch-searchbox-shadow: inset 0 0 0 2px oklch(var(--p));

	--docsearch-hit-color: oklch(var(--bc));
  --docsearch-hit-active-color: oklch(var(--pc));
  --docsearch-hit-background: oklch(var(--b1));
  --docsearch-hit-shadow: none;

	--docsearch-key-gradient: transparent;
  --docsearch-key-shadow: none;

	--docsearch-footer-background: oklch(var(--b3));
  --docsearch-footer-shadow: 0 -1px 0 0 oklch(var(--b1) / 0.4);
}

.DocSearch.DocSearch-Button {
	background-color: transparent;
	border-radius: var(--rounded-btn);
	margin: 0;
}

.DocSearch.DocSearch-Button:hover {
	background-color: oklch(var(--nf));
	color: oklch(var(--nc));
	box-shadow: none;
}

.DocSearch.DocSearch-Button:hover :is(.DocSearch-Search-Icon, .DocSearch-Button-Key) {
	color: oklch(var(--nc));
}

.DocSearch.DocSearch-Button:hover .DocSearch-Button-Keys {
	border-color: oklch(var(--nc) / 0.4);
}

.DocSearch.DocSearch-Button:focus {
	box-shadow: none;
}

.DocSearch .DocSearch-Button-Keys {
	border: 1px solid oklch(var(--bc) / 0.3);
	border-radius: calc(var(--rounded-btn) / 1.75);
	min-width: auto;
	padding: 0.15rem 0.25rem;
}

.DocSearch .DocSearch-Button-Key {
	font-size: 0.75rem;
	margin-right: 0;
	padding: 0 0.1rem;
	top: 0;
	width: auto;
}

.DocSearch .DocSearch-Button-Key:first-child {
	font-size: 1rem;
}

.DocSearch .DocSearch-Input {
	outline: none;
}

.DocSearch .DocSearch-Hit-source {
	color: oklch(var(--bc));
}

.DocSearch .DocSearch-Hits mark {
	color: oklch(var(--s));
}

.DocSearch .DocSearch-Help a {
	color: oklch(var(--p));
}

.DocSearch .DocSearch-Help a:hover {
	text-decoration: underline;
}
